<h1>Home Care Heroes</h1><br>

Welcome, use this page to navigate to other sections of the app.<br><br>

To see people to message visit <%= link_to 'here', users_path %>. To send a message you must <%= link_to 'log in', new_user_session_path %> as a user.<br><br>

 All messages can be viewed <%= link_to 'here', messages_path %>.
